<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<!--<h1>Esta es mi primera pagina web con Angular JS</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

	<p>
		I am {{13+10}}
	</p>

	<h3>
		{{"Hello" + "Tere"}}
	</h3>

	<h3>
		Hello Tere
	</h3>

	<h3>
		"Hello Tere"
	</h3>-->

	<div class="container" ng-controller="StoreController as store">
	<div class="product row" class="list-group"
	ng-repeat="product in store.products"> <!-- scope of the controller -->
		<div class="list-group-item" >
			<h1>{{product.name}}</h1>
			<img class="center-block" ng-src="{{product.images[0].url}}" alt="">
			<em class="pull-right"><h4>{{product.price | currency}}</h4></em>
			<!--<p>{{product.description}}</p>-->
			<!--<button class="btn btn-danger">Add tu Cart</button>-->
			<section ng-init="tab = 1" ng-controller="PanelController as panel">
			<ul class="nav nav-pills" >
				<li ng-class="{active: panel.isSelected(1)}">
				<a href="" ng-click="panel.selectTab(1)">Description</a>
				</li>
					
				<li ng-class="{active: panel.isSelected(2)}">
				<a href="" ng-click="panel.selectTab(2)">Specifications</a>
				</li>

				<li ng-class="{active: panel.isSelected(3)}">
				<a href="" ng-click="panel.selectTab(3)">Reviews</a>
				</li>
				</ul>

				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>

				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<p>None yet</p>
				</div>
				
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote ng-repeat= "review in product.reviews">
						<b>Stars: {{review.stars}}</b>
						{{review.body}}
						<br>
						<cite>by: {{review.author}}</cite>
					</blockquote>
					<form name="reviewForm"> <!--Formulario para que el usuario pueda calificar el producto y darle las estrellas que el considera-->
					<div class="row">
					<div class="col-lg-6 form-group">
					<label for="rate">Rate this product:</label>
						<select id="rate" class="form-control">
							<option value="rate" selected="selected">Rate this product</option>
							<option value="1">1 Star</option>
							<option value="2">2 Stars</option>
							<option value="2">3 Stars</option>
							<option value="2">4 Stars</option>
							<option value="2">5 Stars</option>
						</select>
						</div>
						<div class="col-lg-6 form-group">
						<textarea id="body" cols="20" rows="5" class="form-control"></textarea>
						</div>
						<div class="col-lg-12 form-group">
						<label>by:</label>
						<input type="email" class="form-control">
						<input type="submit" value="Submit">
						</div>
					</div>
					</form>
				</div>
			</section>
				</div>
				</div>

		<!--
		id no se puede repetir
		name si se puede repetir todas las veces necesarias
		DIRECTIVAS
		directiva para hacer que se vea o no el boton 
		ng-show
		ng-show es negado 

		ng-hide es para que no se muestre
		ng-hide=! es negado

		ng-repeat repetir datos que se encuentren en un objeto

		| currency tipo de dato moneda

		ng-src muestra imagenes, agrega el url a mi elemento imagen

		ng-click 

		=== indica que es el mismo tipo de dato (es para hacer comparacion)
		= es para asignar
		== compara pero pueden ser de diferente tipo

		ng-init es para cuando abras la pagina ya este una tab seleccionada

		ng-class agregamos clase de css, nos dice que tab es la que esta seleccionada

		</blockquote> separa pedazos, hace una frase
		cite hace referencia a alguien (autor)

		<h3>
		{{store.product.name}}	
		<em class="pull-right">{{store.product.price}}</em>
		<p>{{store.product.description}}</p>
		<button class="btn btn-primary" ng-show="store.product.canPurchase">Add cart</button>
		</h3>-->



	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>
