<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<!--<h1>Esta es mi primera pagina web con Angular JS</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>

	<p>
		I am {{13+10}}
	</p>

	<h3>
		{{"Hello" + "Tere"}}
	</h3>

	<h3>
		Hello Tere
	</h3>

	<h3>
		"Hello Tere"
	</h3>-->

	<div class="container" ng-controller="StoreController as store">
	<div class="product row" class="list-group"
	ng-repeat="product in store.products"> <!-- scope of the controller -->
		<div class="list-group-item" >
			<h1>{{product.name}}</h1>
			<img class="center-block" ng-src="{{product.images[0].url}}" alt="">
			<em class="pull-right"><h4>{{product.price | currency}}</h4></em>
			<p>{{product.description}}</p>
			<!--<button class="btn btn-danger">Add tu Cart</button>-->
			<section>
				<ul class="nav nav-pills">
					<li><a href="" ng-click="tab = 1">Description</a></li>
					<li><a href="" ng-click="tab = 2">Specifications</a></li>
					<li><a href="" ng-click="tab = 3">Reviews</a></li>
				</ul>
				{{tab}}
			</section>
		</div>
		</div>

		<!--DIRECTIVAS
		directiva para hacer que se vea o no el boton 
		ng-show
		ng-show es negado 

		ng-hide es para que no se muestre
		ng-hide=! es negado

		ng-repeat repetir datos que se encuentren en un objeto

		| currency tipo de dato moneda

		ng-src muestra imagenes, agrega el url a mi elemento imagen

		ng-click 

		<h3>
		{{store.product.name}}	
		<em class="pull-right">{{store.product.price}}</em>
		<p>{{store.product.description}}</p>
		<button class="btn btn-primary" ng-show="store.product.canPurchase">Add cart</button>
		</h3>-->



	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/bootstrap.min.js"></script>

</body>
</html>
